*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  h1{
    font-size: 3.3rem;
    margin-top: 55px;
    font-weight: 600;
  }

  
  body{
    background-image: url(/images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
  }

  .trial{
    background-color: hsl(248, 32%, 49%);
  }

  .attribution{
    font-size: 11px; 
    text-align: center; 
  }

  .attribution a{
    color: hsl(228, 45%, 44%); 
  }

  .info{
    font-size: 15px;
  }
  .trial span{
    color: hsl(246, 25%, 77%);
  }

  .info span{
    color: hsl(0, 100%, 74%)
  }

 

@media(max-width: 768px) {
   h1{
    font-size: 2rem;
    margin-top: 0;
   }
   .info{
    text-align: center;
   }
   article{
    text-align: center;
  } 
  .trial{
    font-size: 20px;
    text-align: center;
  }

}
 
  